.header {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.list{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li{
  list-style: none;
  padding:5px;
}